body {
  overflow: hidden;
}

.App {
  text-align: center;
  font-family: "Comic Sans MS";
  //background: radial-gradient(red, blue);
  background: linear-gradient(white, deepskyblue, pink, purple);
  background-color: black;
  min-height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 1rem;
}

main {
  padding: 1rem;
  background: whitesmoke;
  border-radius: 20px;
  border: 1px solid brown;
  border-right-color: rosybrown;
  border-bottom-color: rosybrown;
  box-shadow: 1px 1px 100px 10px greenyellow;
}

.rainbow-text {
  background-image: radial-gradient(lawngreen, deeppink);   -webkit-background-clip: text;
  color: transparent;
}

.rainbow-text-name {
  text-transform: uppercase;
  background-image: linear-gradient(to right, blue, deeppink);   -webkit-background-clip: text;
  color: transparent;
}

h1 {
  font-size: calc(10px + 2vmin);
}

ul.list-no-style {
  list-style: none;
}

.bigmoji {
  font-size: 3rem;
}

.App-link {
  color: #61dafb;
}
